<div class="body flex-grow-1">
  <div class="container-lg px-4">
    <div class="row mb-4">
      <form action="/add-article" method="POST">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            name="title"
            placeholder="Lorem Ipsum"
          />
        </div>
        <div class="mb-3">
          <label for="is_member_only" class="form-label"
            >Article Access</label
          >
          <select class="form-select" aria-label="Default select example" name="is_member_only">
            <option selected>Open this select menu</option>
            <option value="false">Non Member</option>
            <option value="true">Member</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="status" class="form-label"
            >Article Status</label
          >
          <select class="form-select" aria-label="Default select example" name="status">
            <option selected>Open this select menu</option>
            <option value="draft">Draft</option>
            <option value="published">Published</option>
            <option value="archived">Archived</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">Content</label>
          <textarea id="editor" name="content">Amazing Article here!</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
