<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title><%- pageTitle %></title>
    <script src="https://unpkg.com/d3@6"></script>
    <script src="https://unpkg.com/family-chart"></script>
    <!-- <link rel="stylesheet" href="/family-chart.css" /> -->
    <!-- create file 'family-chart.css' in same directory, copy/paste css from examples/create-tree -->
    <style>.f3::-webkit-scrollbar{display:none}.f3{-ms-overflow-style:none;scrollbar-width:none;bottom:0;right:0;overflow:auto;z-index:0}.background,.f3{position:absolute;top:0;left:0;bottom:0;right:0;overflow:auto}.background,.f3 svg.main_svg{width:100%;background-repeat:repeat}body,html{height:100%;margin:0}.background{height:400px;background-image:url("../../uploads/assets/logo-transparent.png")}.f3 .cursor-pointer{cursor:pointer}.f3 svg.main_svg{height:100%;background-color:#0d3c28;color:#3b5560;background-image:url("../../uploads/assets/logo-smalls.png")}.f3 svg.main_svg text{fill:currentColor}.f3 .card-female .card-body-rect,.f3 .card-female .text-overflow-mask,.f3 rect.card-female{fill:lightpink}.f3 .card-male .card-body-rect,.f3 .card-male .text-overflow-mask,.f3 rect.card-male{fill:lightblue}.f3 .card-genderless .card-body-rect,.f3 .card-genderless .text-overflow-mask{fill:lightgray}.f3 .card_add .card-body-rect{fill:#3b5560;stroke-width:4px;stroke:#fff;cursor:pointer}.f3 g.card_add text{fill:#fff}.f3 .card-main{stroke:#000}.f3 .card_family_tree rect{transition:.3s}.f3 .card_family_tree:hover rect{transform:scale(1.1)}.f3 .card_add_relative{cursor:pointer;color:#fff;transition:.3s}.f3 .card_add_relative circle{fill:rgba(0,0,0,0)}.f3 .card_add_relative:hover,.f3 .card_edit.pencil_icon:hover{color:#000}.f3 .card_edit.pencil_icon{color:#fff;transition:.3s}.f3 .card_break_link,.f3 .link_lower,.f3 .link_particles,.f3 .link_upper{transform-origin:50% 50%;transition:1s}.f3 .card_break_link{color:#fff}.f3 .card_break_link.closed .link_upper{transform:translate(-140.5px,655.6px)}.f3 .card_break_link.closed .link_upper g{transform:rotate(-58deg)}.f3 .card_break_link.closed .link_particles{transform:scale(0)}.f3 .input-field input{height:2.5rem!important}.f3 .input-field>label:not(.label-icon).active{-webkit-transform:translateY(-8px) scale(.8);transform:translateY(-8px) scale(.8)}.download-button{position:fixed;top:20px;right:20px;border:none;color:#fff;padding:8px 10px;text-align:center;text-decoration:none;display:inline-block;font-size:16px;margin:4px 2px;cursor:pointer;border-radius:50%;z-index:1000;box-shadow:0 2px 5px rgba(0,0,0,.3);transition:background-color .3s}.download-button:hover{background-color:#3b5560}.download-icon{width:20px;height:20px;fill:white}.logo-container{position:absolute;top:0;left:0;right:0;height:140px;background-color:#0d3c28;z-index:1000;display:none;align-items:center;padding-left:40px}.logo-container img{width:100px;height:auto}
    </style>
  </head>
  <body>
    <div class="logo-container">
      <img
        src="https://app.yerros.me/uploads/assets/logo-transparent.png"
        alt="Logo"
      />
    </div>
    <a
      href="/api/canary/<%- canaryId %>/download"
      class="download-button"
      title="Download as PDF"
    >
      <svg
        class="download-icon"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3"
        />
      </svg>
    </a>
    <div id="FamilyChart" class="f3"></div>
    <script type="module">
      const store = f3.createStore({
          data: data(),
          node_separation: 250,
          level_separation: 150,
        }),
        view = f3.d3AnimationView({
          store,
          cont: document.querySelector("#FamilyChart"),
        }),
        Card = f3.elements.Card({
          store,
          svg: view.svg,
          card_dim: {
            w: 220,
            h: 70,
            text_x: 75,
            text_y: 15,
            img_w: 60,
            img_h: 60,
            img_x: 5,
            img_y: 5,
          },
          card_display: [
            (d) => `${d.data["ring"] || ""}`,
            (d) => `${d.data['seri'] || ""}`,
          ],
          mini_tree: true,
          link_break: false,
        });

      view.setCard(Card);
      store.setOnUpdate((props) => view.update(props || {}));
      store.update.tree({ initial: true });

      function data() {
        return <%- JSON.stringify(family) %>;
      }
    </script>
  </body>
</html>
