<div class="bg-body-tertiary min-vh-100 d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card-group d-block d-md-flex row">
          <div class="card col-md-7 p-4 mb-0">
          <form action="/forgot-password" method="POST">
          <div class="card-body">
            <h1>Reset Password</h1>
            <p class="text-body-secondary">Enter Email to reset your password</p>
            <div class="input-group mb-3"><span class="input-group-text">
                <svg class="icon">
                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-user"></use>
                </svg></span>
              <input class="form-control" name="email" type="text" placeholder="Email">
            </div>
            <div class="input-group mb-4"><span class="input-group-text">
                <svg class="icon">
                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                </svg></span>
              <input class="form-control" name="password" type="password" placeholder="Password">
            </div>
            <div class="input-group mb-4"><span class="input-group-text">
                <svg class="icon">
                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                </svg></span>
              <input class="form-control" name="repeat_password" type="password" placeholder="Repeat Password">
            </div>
            
            <div class="mb-3">
              <%  if(status == "success"){%> 
              <span class="text-success"><%=msg%></span>
              <%}else{%> 
              <span class="text-danger"><%=msg%></span>
              <%}%>
            </div>
            <div class="row">
              <div class="col-6">
                <button class="btn btn-primary px-4" type="submit">Reset Password</button>
              </div>
            </div>
          </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>